---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers: {}
        url: https://api.github.com/repos/cashapp/hermit-build/releases?per_page=100&page=1
        method: GET
      response:
        body: '[{"url":"https://api.github.com/repos/cashapp/hermit-build/releases/152487663","assets_url":"https://api.github.com/repos/cashapp/hermit-build/releases/152487663/assets","upload_url":"https://uploads.github.com/repos/cashapp/hermit-build/releases/152487663/assets{?name,label}","html_url":"https://github.com/cashapp/hermit-build/releases/tag/qrencode-4.1.1","id":152487663,"author":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","site_admin":false},"node_id":"RE_kwDOFlca-84JFsbv","tag_name":"qrencode-4.1.1","target_commitish":"master","name":"qrencode-4.1.1","draft":false,"prerelease":false,"created_at":"2024-04-23T21:49:54Z","published_at":"2024-04-23T21:51:09Z","assets":[{"url":"https://api.github.com/repos/cashapp/hermit-build/releases/assets/163880358","id":163880358,"node_id":"RA_kwDOFlca-84JxJ2m","name":"qrencode-4.1.1-darwin-amd64.tar.xz","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","site_admin":false},"content_type":"raw","state":"uploaded","size":39188,"download_count":32,"created_at":"2024-04-24T02:04:45Z","updated_at":"2024-04-24T02:04:45Z","browser_download_url":"https://github.com/cashapp/hermit-build/releases/download/qrencode-4.1.1/qrencode-4.1.1-darwin-amd64.tar.xz"},{"url":"https://api.github.com/repos/cashapp/hermit-build/releases/assets/163880549","id":163880549,"node_id":"RA_kwDOFlca-84JxJ5l","name":"qrencode-4.1.1-linux-amd64.tar.xz","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/u[...]
