---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers: {}
        url: https://api.github.com/repos/cashapp/hermit/releases/latest
        method: GET
      response:
        body: '{"url":"https://api.github.com/repos/cashapp/hermit/releases/158259817","assets_url":"https://api.github.com/repos/cashapp/hermit/releases/158259817/assets","upload_url":"https://uploads.github.com/repos/cashapp/hermit/releases/158259817/assets{?name,label}","html_url":"https://github.com/cashapp/hermit/releases/tag/v0.39.2","id":158259817,"author":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","site_admin":false},"node_id":"RE_kwDOFf-izM4Jbtpp","tag_name":"v0.39.2","target_commitish":"master","name":"v0.39.2","draft":false,"prerelease":false,"created_at":"2024-05-15T21:57:56Z","published_at":"2024-05-30T23:47:36Z","assets":[{"url":"https://api.github.com/repos/cashapp/hermit/releases/assets/171036319","id":171036319,"node_id":"RA_kwDOFf-izM4KMc6f","name":"hermit-darwin-amd64.gz","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","site_admin":false},"content_type":"raw","state":"uploaded","size":8747866,"download_count":0,"created_at":"2024-05-30T23:47:41Z","updated_at":"2024-05-30T23:47:42Z","browser_download_url":"https://github.com/cashapp/hermit/releases/download/v0.39.2/hermit-darwin-amd64.gz"},{"url":"https://api.github.com/repos/cashapp/hermit/releases/assets/171036315","id":171036315,"node_id":"RA_kwDOFf-izM4KMc6b","name":"hermit-darwin-arm64.gz","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"[...]
