---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers: {}
        url: https://api.github.com/repos/cashapp/hermit/releases/tags/v0.39.2
        method: GET
      response:
        body: '{"url":"https://api.github.com/repos/cashapp/hermit/releases/158259817","assets_url":"https://api.github.com/repos/cashapp/hermit/releases/158259817/assets","upload_url":"https://uploads.github.com/repos/cashapp/hermit/releases/158259817/assets{?name,label}","html_url":"https://github.com/cashapp/hermit/releases/tag/v0.39.2","id":158259817,"author":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","site_admin":false},"node_id":"RE_kwDOFf-izM4Jbtpp","tag_name":"v0.39.2","target_commitish":"master","name":"v0.39.2","draft":false,"prerelease":false,"created_at":"2024-05-15T21:57:56Z","published_at":"2024-05-30T23:47:36Z","assets":[{"url":"https://api.github.com/repos/cashapp/hermit/releases/assets/171036319","id":171036319,"node_id":"RA_kwDOFf-izM4KMc6f","name":"hermit-darwin-amd64.gz","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","site_admin":false},"content_type":"raw","state":"uploaded","size":8747866,"download_count":0,"created_at":"2024-05-30T23:47:41Z","updated_at":"2024-05-30T23:47:42Z","browser_download_url":"https://github.com/cashapp/hermit/releases/download/v0.39.2/hermit-darwin-amd64.gz"},{"url":"https://api.github.com/repos/cashapp/hermit/releases/assets/171036315","id":171036315,"node_id":"RA_kwDOFf-izM4KMc6b","name":"hermit-darwin-arm64.gz","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"[...]
    - id: 1
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
        url: https://api.github.com/repos/cashapp/hermit/releases/assets/171036304
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - text/html;charset=utf-8
            Location:
                - https://objects.githubusercontent.com/github-production-release-asset-2e65be/369074892/cfe37494-7b20-45a8-9ef3-42f32079ba24?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20240614%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240614T165638Z&X-Amz-Expires=300&X-Amz-Signature=94eadc46a7b9d39960463bd5cf31f14bc50ab0e43c78587b30f12400e170a381&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=369074892&response-content-disposition=attachment%3B%20filename%3Dinstall.sh&response-content-type=application%2Foctet-stream
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Ratelimit-Limit:
                - "60"
            X-Ratelimit-Remaining:
                - "57"
            X-Ratelimit-Reset:
                - "1718387797"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "3"
        status: 302 Found
        code: 302
        duration: 152.070709ms
    - id: 2
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://objects.githubusercontent.com/github-production-release-asset-2e65be/369074892/cfe37494-7b20-45a8-9ef3-42f32079ba24?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20240614%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240614T165638Z&X-Amz-Expires=300&X-Amz-Signature=94eadc46a7b9d39960463bd5cf31f14bc50ab0e43c78587b30f12400e170a381&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=369074892&response-content-disposition=attachment%3B%20filename%3Dinstall.sh&response-content-type=application%2Foctet-stream
        method: HEAD
      response:
        body: ""
        headers:
            Content-Disposition:
                - attachment; filename=install.sh
            Content-Type:
                - application/octet-stream
            Etag:
                - '"0x8DC8102E2DDFA9A"'
            Last-Modified:
                - Thu, 30 May 2024 23:47:37 GMT
            X-Ms-Blob-Type:
                - BlockBlob
            X-Ms-Creation-Time:
                - Thu, 30 May 2024 23:47:37 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2020-10-02"
        status: 200 OK
        code: 200
        duration: 350.960625ms
[...]
