---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers: {}
        url: https://api.github.com/repos/cashapp/hermit
        method: GET
      response:
        body: "{\"id\":369074892,\"node_id\":\"MDEwOlJlcG9zaXRvcnkzNjkwNzQ4OTI=\",\"name\":\"hermit\",\"full_name\":\"cashapp/hermit\",\"private\":false,\"owner\":{\"login\":\"cashapp\",\"id\":49219790,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjQ5MjE5Nzkw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/49219790?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/cashapp\",\"html_url\":\"https://github.com/cashapp\",\"followers_url\":\"https://api.github.com/users/cashapp/followers\",\"following_url\":\"https://api.github.com/users/cashapp/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/cashapp/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/cashapp/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/cashapp/subscriptions\",\"organizations_url\":\"https://api.github.com/users/cashapp/orgs\",\"repos_url\":\"https://api.github.com/users/cashapp/repos\",\"events_url\":\"https://api.github.com/users/cashapp/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/cashapp/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"html_url\":\"https://github.com/cashapp/hermit\",\"description\":\"\U0001F41A Hermit manages isolated, self-bootstrapping sets of tools in software projects.\",\"fork\":false,\"url\":\"https://api.github.com/repos/cashapp/hermit\",\"forks_url\":\"https://api.github.com/repos/cashapp/hermit/forks\",\"keys_url\":\"https://api.github.com/repos/cashapp/hermit/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/cashapp/hermit/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/cashapp/hermit/teams\",\"hooks_url\":\"https://api.github.com/repos/cashapp/hermit/hooks\",\"issue_events_url\":\"https://api.github.com/repos/cashapp/hermit/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/cashapp/hermit/events\",\"assignees_url\":\"https://api.github.com/repos/cashapp/hermit/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/cashapp/hermit/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/cashapp/hermit/tags\",\"blobs_url\":\"https://api.github.com/repos/cashapp/hermit/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/cashapp/hermit/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/cashapp/hermit/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/cashapp/hermit/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/cashapp/hermit/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/cashapp/hermit/languages\",\"stargazers_url\":\"https://api.github.com/repos/cashapp/hermit/stargazers\",\"contributors_url\":\"https://api.github.com/repos/cashapp/hermit/contributors\",\"subscribers_url\":\"https://api.github.com/repos/cashapp/hermit/subscribers\",\"subscription_url\":\"https://api.github.com/repos/cashapp/hermit/subscription\",\"commits_url\":\"https://api.github.com/repos/cashapp/hermit/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/cashapp/hermit/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/cashapp/hermit/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/cashapp/hermit/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/cashapp/hermit/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/cashapp/hermit/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/cashapp/hermit/merges\",\"archive_url\":\"https://api.github.com/repos/cashapp/hermit/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/cashapp/hermit/downloads\",\"issues_url\":\"https://api.github.com/repos/cashapp/hermit/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/cashapp/hermit/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/cashapp/hermit/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/cashapp/hermit/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/cashapp/hermit/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/cashapp/hermit/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/cashapp/hermit/deployments\",\"created_at\":\"2021-05-20T04:06:55Z\",\"updated_at\":\"2024-06-14T03:39:23Z\",\"pushed_at\":\"2024-06-13T23:33:22Z\",\"git_url\":\"git://github.com/cashapp/hermit.git\",\"ssh_url\":\"git@github.com:cashapp/hermit.git\",\"clone_url\":\"https://github.com/cashapp/hermit.git\",\"svn_url\":\"https://github.com/cashapp/hermit\",\"homepage\":\"https://cashapp.github.io/hermit\",\"size\":6627,\"stargazers_count\":565,\"watchers_count\":565,\"language\":\"Go\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":true,\"has_discussions\":true,\"forks_count\":49,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":77,\"license\":{\"key\":\"apache-2.0\",\"name\":\"Apache License 2.0\",\"spdx_id\":\"Apache-2.0\",\"url\":\"https://api.github.com/licenses/apache-2.0\",\"node_id\":\"MDc6TGljZW5zZTI=\"},\"allow_forking\":true,\"is_template\":false,\"web_commit_signoff_required\":false,\"topics\":[\"hermetic\",\"installer\",\"package-manager\"],\"visibility\":\"public\",\"forks\":49,\"open_issues\":77,\"watchers\":565,\"default_branch\":\"master\",\"temp_clone_token\":null,\"custom_properties\":{},\"organization\":{\"login\":\"cashapp\",\"id\":49219790,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjQ5MjE5Nzkw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/49219790?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/cashapp\",\"html_url\":\"https://github.com/cashapp\",\"followers_url\":\"https://api.github.com/users/cashapp/followers\",\"following_url\":\"https://api.github.com/users/cashapp/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/cashapp/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/cashapp/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/cashapp/subscriptions\",\"organizations_url\":\"https://api.github.com/users/cashapp/orgs\",\"repos_url\":\"https://api.github.com/users/cashapp/repos\",\"events_url\":\"https://api.github.com/users/cashapp/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/cashapp/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"network_count\":49,\"subscribers_count\":6}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"c9080b89cd20c952929e90f23add4289f0f22caf1bba30e1e5a40e0bd18b0a6b"
            Last-Modified:
                - Fri, 14 Jun 2024 03:39:23 GMT
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "60"
            X-Ratelimit-Remaining:
                - "59"
            X-Ratelimit-Reset:
                - "1718387797"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "1"
        status: 200 OK
        code: 200
        duration: 262.496625ms
