on:
  push:
    paths-ignore:
      - 'docs/**'
    branches:
      - master
name: Canary
jobs:
  canary:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '^1.16.3'
      - name: Build Hermit
        run: |
          make GOOS=linux GOARCH=amd64 CHANNEL=canary build
          make GOOS=linux GOARCH=arm64 CHANNEL=canary build
          make GOOS=darwin GOARCH=amd64 CHANNEL=canary build
          make GOOS=darwin GOARCH=arm64 CHANNEL=canary build
          INSTALLER_VERSION=$(go run -ldflags "-X main.channel=canary" ./cmd/hermit gen-installer --dest=build/install.sh)
          cp build/install.sh build/install-"${INSTALLER_VERSION}".sh
      - name: Release canary
        uses: ncipollo/release-action@bcfe5470707e8832e12347755757cec0eb3c22af # v1
        with:
          tag: canary
          name: Canary
          allowUpdates: true
          artifacts: "build/*"
          token: ${{ secrets.GITHUB_TOKEN }}
