on:
  push:
    paths-ignore:
      - "docs/**"
    tags:
      - "v*"
name: Release
jobs:
  deployable:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version: "^1.16.3"
      - name: Build Hermit
        run: |
          make GOOS=linux GOARCH=amd64 CHANNEL=stable build
          make GOOS=linux GOARCH=arm64 CHANNEL=stable build
          make GOOS=darwin GOARCH=amd64 CHANNEL=stable build
          make GOOS=darwin GOARCH=arm64 CHANNEL=stable build
          INSTALLER_VERSION=$(go run -ldflags "-X main.channel=stable" ./cmd/hermit gen-installer --dest=build/install.sh)
          cp build/install.sh build/install-"${INSTALLER_VERSION}".sh
      - name: Release versioned
        uses: ncipollo/release-action@bcfe5470707e8832e12347755757cec0eb3c22af # v1
        with:
          allowUpdates: true
          artifacts: "build/*"
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Release stable
        uses: ncipollo/release-action@bcfe5470707e8832e12347755757cec0eb3c22af # v1
        with:
          tag: stable
          name: Stable
          allowUpdates: true
          artifacts: "build/*"
          token: ${{ secrets.GITHUB_TOKEN }}
