on:
  push:
    paths-ignore:
      - "docs/**"
    tags:
      - "v*"
name: Release
jobs:
  deployable:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: "^1.16.3"
      - name: Build Hermit
        run: |
          make GOOS=linux GOARCH=amd64 CHANNEL=stable build
          make GOOS=linux GOARCH=arm64 CHANNEL=stable build
          make GOOS=darwin GOARCH=amd64 CHANNEL=stable build
          make GOOS=darwin GOARCH=arm64 CHANNEL=stable build
          INSTALLER_VERSION=$(go run -ldflags "-X main.channel=stable" ./cmd/hermit gen-installer --dest=build/install.sh)
          cp build/install.sh build/install-"${INSTALLER_VERSION}".sh
      - name: Release versioned
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1
        with:
          allowUpdates: true
          artifacts: "build/*"
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Release stable
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1
        with:
          tag: stable
          name: Stable
          allowUpdates: true
          artifacts: "build/*"
          token: ${{ secrets.GITHUB_TOKEN }}
